{% extends 'Nav.html' %}

{% block content %}
<script>
  function goToIndexAndScroll() {
      // Redirect to index.html
      window.location.href = "{{ url_for('index') }}#Services";
  }
</script>

<div class="text-5xl text-white">
  Webdev
</div> 

<button onclick="goToIndexAndScroll()" data-ripple-light="true" type="button" class="select-none rounded-lg bg-Button3 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
  Back
</button>
{% endblock %}